<div class="max-w-md mx-auto px-2 mt-12 mb-4">
  <div class="space-y-6 mx-auto">
    <div class="space-y-6">
      <div class="flex items-center bg-base-200 rounded-xl p-4 mb-4">
        <div class="flex items-center">
          <div class="mr-3">
            <%= svg_icon('writing_sign', class: 'w-10 h-10') %>
          </div>
          <div>
            <% if @submitter.submission.requires_approval? && @submitter.submission.approved_at.nil? %>
              <p dir="auto" class="text-sm font-bold mb-1"><%= t('submitted_on_time', time: l(@submitter.completed_at.to_date, format: :long)) %></p>
              <p dir="auto" class="text-sm"><%= t('awaiting_manager_approval') %></p>
            <% else %>
              <p dir="auto" class="text-sm">
                <%= t(@submitter.with_signature_fields? ? 'signed_on_time' : 'completed_on_time', time: l(@submitter.completed_at.to_date, format: :long)) %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
<%= render 'shared/attribution', link_path: '/start', account: @submitter.account %>
