<% banner_html = capture do %>
  <div class="sticky top-0 z-50 bg-base-100 py-2 px-2 flex items-center justify-end" style="margin: 0px -8px -16px -8px">
    <div class="flex items-center" style="flex-shrink: 0">
      <% if @template.submitters.size > 1 %>
          <form action="<%= template_form_path(@template) %>" method="get" class="mr-3">
          <% if @auth_token %>
            <%= hidden_field_tag :auth_token, @auth_token %>
          <% end %>
          <% if @task_preview_mode %>
            <%= hidden_field_tag :task_preview_mode, @task_preview_mode %>
            <%= hidden_field_tag :external_account_id, @external_account_id %>
            <% Array(@accessible_partnership_ids).each do |id| %>
              <%= hidden_field_tag 'accessible_partnership_ids[]', id %>
            <% end %>
          <% end %>
          <span class="font-bold mr-2"><%= t('preview_label') %></span>
          <select onchange="this.form.submit()" name="uuid" class="select base-input text-center font-normal" style="width: 180px; flex-shrink: 0;">
            <% @template.submitters.each do |submitter| %>
              <%= tag.option(value: submitter['uuid'], selected: submitter['uuid'] == @submitter.uuid) do %>
                <%= submitter['name'] %>
              <% end %>
            <% end %>
          </select>
        </form>
      <% end %>
      <% unless @task_preview_mode == 'true' %>
        <% exit_params = {} %>
        <% exit_params[:auth_token] = @auth_token || session[:auth_token] %>
        <% exit_params[:external_account_id] = @external_account_id if @external_account_id.present? %>
        <% exit_params[:accessible_partnership_ids] = @accessible_partnership_ids if @accessible_partnership_ids.present? %>
        <a href="<%= edit_template_path(@template, exit_params) %>" class="base-button" data-turbo="false" style="flex-shrink: 0; padding: 0px 24px;">
          <%= t('exit_preview') %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
<%= render template: 'submit_form/show', locals: { dry_run: true, expand: false, banner_html:, scroll_padding: '-120px' } %>
